<h2 class="display-4 text-black-50">Välkommen {{currentUser?.firstname}}!</h2>
<p class="lead text-black mb-0">Välj projekt eller lägg till ett nytt via menyn till vänster.</p>
<br />
<h5 *ngIf="invitations?.length == 1" class="text-black mb-0">Du har {{invitations?.length}} ny projektinbjudning:</h5>
<h5 *ngIf="invitations?.length > 1" class="text-black mb-0">Du har {{invitations?.length}} nya projektinbjudningar:</h5>
<!--<h5 *ngIf="invitations?.length == 0">Du har inga obesvarade projektinbjudningar.</h5>-->

<div *ngFor="let invitation of invitations">
  <div class="card col-sm-12 col-md-4 mb-3 mt-3">
    <div class="card-body">
      <h5 class="card-title">{{invitation.project.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{invitation.project.description}}</h6>
      <p class="card-text"><b>Din roll: </b>{{invitation.role | numberToRole}} <br /><b>Din behörighet: </b>{{invitation.rights | numberToRights}}</p>
      <button class="btn btn-secondary mr-2" (click)="rejectInvite(invitation.userprojectid)">Neka</button>
      <button class="btn btn-primary" (click)="acceptInvite(invitation.userprojectid)">Acceptera</button>
    </div>
  </div>
</div>

<div class="separator"></div>
<!--
<div class="row text-black">
  <div class="col-lg-7">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor.
    </p>
    <div class="bg-white p-5 rounded my-5 shadow-sm">
      <p class="lead font-italic mb-0 text-muted">
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor.
    </p>
  </div>
  <div class="col-lg-5">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor.
    </p>
  </div>
</div>
-->
