
<div class="container">
  <!-- Row1 -->
  <div class="row justify-content-center p-5 bg-info" id="row1">
    <div class="col-12 col-sm-6 col-lg-8">
      <h3>MT4North Innovations Model  –  Verktyget som vägleder projekt genom innovationsprocessenl</h3>
      <h5>Implementering av innovationsmodell inom medicinteknik</h5>
      <h6>
        Målet med projektet ”MedTech4North – Business model” är att i samverkan mellan akademi, hälso/sjukvård och företag stimulera och stödja medicintekniska företag.
      </h6>
    </div>
    <div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\innovation.jpg" />
    </div>
  </div>
  <!-- Row2 -->
  <div class="row justify-content-center p-5" id="row2">
    <div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\projekt1.jpg" />

    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <div>
        <h4>Mätinstrument för detektion av cancer i prostatavävnad</h4>
      </div>
      <h6>
        Vårt projekt går ut på att utveckla ett mätinstrument för detektion av cancer i prostatavävnad. Mätinstrumentet är baserat på två sensortekniker nämligen resonanssensorer och fiberoptisk Ramanspektroskopi. Målet är att mätinstrumentet snabbt skall kunna skanna av en prostatakörtel vid operationstillfället och ge urologkirurgen ett beslutsunderlag om förekomsten av cancer i kirurgiska marginalen, dvs om all cancer har avlägsnats. Projektet skall leda fram till en produkt för marknaden.
      </h6>
    </div>
  </div>
  <!-- Row3 -->
  <div class="row p-5" id="row3">

    <div class="col-12 col-sm-6 col-lg-8">
      <div>
        <h4>Ny typ og millimetertunn ultraljudssensor:</h4>
      </div>
      <h6>
        Den bärande idén med detta projekt är att utveckla en ny typ av millimetertunn ultraljudssensor tänkt att fästas på den yttersta falangen av ett finger, kanske som en integrerad del av en handske. Detta möjliggör att man med fingret kan känna på det patologiska området och samtidigt se en 2D ultraljudsbild av samma område i realtid. Kombinationen av visuell och taktil information ger ytterligare värdefulla dimensioner i förståelsen av det område man studerar.
      </h6>
    </div><div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\projekt2.jpg" />

    </div>
  </div>
  <!-- Row4 -->
  <div class="row p-5" id="row4">
    <div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\projekt3.jpg" />

    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <div>
        <h4>Bärbart system för rörelsemätning:</h4>
      </div>
      <h6>
        <p>
          Vår ambition är att utveckla, tillverka och sälja ett marknadsledande bärbart, digitalt system för rörelsemätning för försäljning till frisk- och sjukvårdsaktörer nationellt och internationellt. Vårt system mäter rörelse med hjälp av tröghetssensorer och optiska sensorer. Syftet med projektet är att genomföra klinisk verifiering och att utveckla en mätmodul för långtidsmätning, en analysmjukvara anpassad för överkropp samt skräddarsydda moduler mot specifika sjukdomsgrupper.
        </p>
      </h6>
    </div>
  </div>

  <!-- Row5 -->
  <div class="row p-5" id="row3">

    <div class="col-12 col-sm-6 col-lg-8">
      <div>
        <h4>Sensör för att mäta hornhinnans biomekaniska egenskaper:</h4>
      </div>
      <h6>
        Keratokonus drabbar 1/1500 personer i de yngre tonåren för att ofta avstanna sin progression då patienterna uppnår en ålder av 35-40 år. Genom att skapa en förstyvande behandling av hornhinnan, CXL, som efterliknar det naturliga åldrandet av vävnad bromsas sjukdomens progression upp.
      </h6>
    </div><div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\projekt4.jpg" />

    </div>
  </div>

  <!-- Row6 -->
  <div class="row p-5" id="row6">
    <div class="col-6 col-lg-4">
      <img class="img-thumbnail" src="\lib\images\projekt5.jpg" />

    </div>
    <div class="col-12 col-sm-6 col-lg-8">
      <div>
        <h4>Optimering av behandling av normaltryckshyhydrocephalus:</h4>
      </div>
      <h6>
        Multicenterstudien PULSE-OPT utvärderar en ny metod för att optimera och individanpassa behandlingen av patienter med normaltryckshydrocefalus. Projektet i stort syftar till att utveckla metodiken till ett kliniskt implementerbart verktyg för att hjälpa sjukvården att guida behandlingen av varje individuell patient med normaltryckshydrocefalus.
      </h6>
    </div>
  </div>


  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4" id="footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="https://mt4ninnovationsmodell.com/"> MT4NInnovationsmodel.com></a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


</div>
