
<div class="row mt-4">
  <div class="col-sm-12 col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td class="w-25">
            <span class="d-inline-block w-25" style="white-space:nowrap"><i class="fa fa-tag fa-fw"></i><b> Projekttitel</b></span>
          </td>
          <td class="w-50">
            Projekt 1
          </td>
          <td class="w-25">
            <button class="btn btn-secondary btn-sm float-right">Ändra</button>
          </td>
        </tr>
        <tr>
          <td class="w-25">
            <span class="d-inline-block" style="white-space:nowrap"><i class="fa fa-sticky-note fa-fw"></i><b> Projektbeskrivning</b></span>
          </td>
          <td class="w-50">
            Beskrivning
          </td>
          <td class="w-25">
            <button class="btn btn-secondary btn-sm float-right">Ändra</button>
          </td>
        </tr>

        <!--
  <tr>

    <td>
      <span class="d-inline-block" style="white-space:nowrap"><i class="fa fa-bell fa-fw"></i><b> Påminnelser</b></span>
    </td>
    <td class="settingDescription">
      Få påminnelser via mail när aktiviteter som inte slutförts närmar sig deadline.
    </td>
    <td>

      <div class="custom-control custom-switch float-left">
        <input type="checkbox" class="custom-control-input custom-switch-md" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"></label>
      </div>
    </td>

  </tr>
  -->
      </tbody>
    </table>
    <hr />
    <button class="btn btn-danger btn-sm float-right mr-3">Ta bort projekt</button>

  </div>
</div>

