
<div class="row mt-4">
  <div class="col-6">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <span class="d-inline-block" style="white-space:nowrap"><i class="fa fa-bell fa-fw"></i><b> Påminnelser</b></span>
          </td>
          <td>
            Få påminnelser via mail när aktiviteter som inte slutförts närmar sig deadline.
          </td>
          <td>
            <div class="custom-control custom-switch float-left">
              <input type="checkbox" class="custom-control-input custom-switch-md" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

