
<div class="row mt-4">
  <div class="col-12" style="max-width: 1100px;">
    <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="border-radius: 6px 0 0 0;">Namn</th>
          <th scope="col">E-post</th>
          <!---->
          <th scope="col">Roll</th>
          <th scope="col">Behörighet</th>
          <th scope="col" style="border-radius: 0 6px 0 0;"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let userProject of userProjects; let i = index">
          <tr [ngClass]="{'bg-light': currentUser.id == userProject.user.id}">
            <td class="align-middle" >{{userProject.user.firstname}} {{userProject.user.lastname}}</td>
            <td class="align-middle" >{{userProject.user.email}}</td>
            <td class="align-middle">
              <span *ngIf="!userProject.isEditable">{{userProject.role | numberToRole}}</span>
              <select *ngIf="userProject.isEditable" [(ngModel)]="userProject.role" class="bootstrap-select align-middle" aria-labelledby="dropdownMenuButton">
                <option *ngFor="let role of roles | enumToArray" [ngValue]="role">{{role | numberToRole}}</option>
              </select>
              <!--<input class="align-middle" *ngIf="userProject.isEditable" [(ngModel)]="userProject.role" value="{{userProject.role |}}">-->

              <!--<div class="dropdown w-100">
    <button class="btn thead-light white-text p-0 m-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Projektledare
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Projektdeltagare</a>
      <button class="dropdown-item">+ Lägg till ny roll</button>
    </div>
  </div>-->
            </td>
            <td class="align-middle">
              <span class="align-middle" *ngIf="!userProject.isEditable">{{userProject.rights | numberToRights}}</span>
              <select *ngIf="userProject.isEditable" [(ngModel)]="userProject.rights" class="bootstrap-select align-middle" aria-labelledby="dropdownMenuButton">
                <option *ngFor="let permission of permissions | enumToArray" [ngValue]="permission">{{permission | numberToRights}}</option>
              </select>
              <!--<div class="dropdown w-100">
      <button class="btn thead-light white-text p-0 m-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Läsa och redigera
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Endast läsa</a>
      </div>
    </div>-->
            </td>
            <td class="align-middle">
              <p *ngIf="userProject.status == 0" class="font-italic float-left">Inbjudan skickad</p>
              <button class="btn btn-danger btn-sm float-right" [hidden]="!hasRights || userProject.isEditable || currentUser.id == userProject.user.id" (click)="leaveProject(userProject.userprojectid)">Ta bort</button>
              <button class="btn btn-danger btn-sm float-right" [disabled]="isCurrentUserOnlyOwner()" *ngIf="currentUser.id == userProject.user.id" (click)="leaveProject(userProject.userprojectid)">Lämna</button>

              

              <button type="button" class="btn btn-primary btn-sm float-right mr-2" [hidden]="!hasRights || userProject.isEditable || userProject.status == 0" (click)="userProject.isEditable = true">Ändra</button>
              <input type="submit" class="btn btn-primary btn-sm float-right mr-2" [hidden]="!userProject.isEditable" value="Spara" (click)="updateProjectMember(userProject)">
              <button type="button" class="btn btn-secondary btn-sm float-right mr-2" [hidden]="!userProject.isEditable" (click)="userProject.isEditable = false">Avbryt</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr />
  </div>

  <div class="row w-100" style="max-width: 1100px;">
    <div class="col">
      <alert class="float-left ml-3"></alert>
    </div>
    <div class="col">
      <button class="btn im-btn-primary btn-sm float-right" data-toggle="modal" [hidden]="!hasRights" data-target="#inviteMembersModal">Bjud in fler </button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="inviteMembersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bjud in fler projektmedlemmar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="invitationForm" class="form-group mt-2" [style.display]="isFirstStepModal ? 'none' : 'block'">
            <label for="projectTitle"><b>Projektmedlemmar</b></label>
            <div *ngFor="let userInvitation of userInvitations">
              <div class="card mb-1 col-6" style="background-color: #F9F9F9; border: 1px solid lightgray">
                <span class="d-inline-block" style="white-space:nowrap">
                  <span class="card-text">
                    {{userInvitation.email}}
                  </span>
                  <span class="d-inline-block float-right" style="white-space:nowrap">

                    <i class="fa fa-eye mr-2" style="font-size:10px; color: gray"></i>
                    <span class="btn p-0 m-0" data-effect="fadeOut" (click)="removeMember(fi.email.value)">×</span>
                  </span>
                </span>
              </div>
            </div>

            <div class="row w-75" style="margin:16px 0 16px 0">
              <label for="input1">Emailadress</label>
              <input type="email" id="input1" class="form-control" formControlName="email" placeholder="Ange emailadress" aria-describedby="inviteMembersHelp" maxlength="100" required [ngClass]="{ 'is-invalid': fi.email.errors }">
            </div>

            <!--<input class="form-control col" formControlName="role" placeholder="Ange roll" aria-describedby="inviteMembersHelp" maxlength="100">-->
            <div class="row" style="margin:16px 0 16px 0">
              <div class="form-group m-0">
                <label for="sel1">Roll</label>
                <select class="form-control" id="sel1" formControlName="role">
                  <option *ngFor="let role of roles | enumToArray" [ngValue]="role">{{role | numberToRole}}</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin:16px 0 16px 0">
              <div class="form-group m-0">
                <label for="sel2">Behörighet</label>
                <select id="sel2"class="form-control" formControlName="permissions">
                  <option *ngFor="let permission of permissions | enumToArray" [ngValue]="permission">{{permission | numberToRights}}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary" (click)="addMember(fi.email.value, fi.role.value, fi.permissions.value)">Lägg till</button>
          </form>
        </div>
        <div class="modal-footer">
          <button [disabled]="userInvitations.length == 0" type="button" class="btn im-btn-primary" data-dismiss="modal" [style.display]="isFirstStepModal ? 'none' : 'block'" (click)="inviteMembers()">Bjud in till projekt</button>
        </div>
      </div>
    </div>
  </div>

</div>
