
<div class="row mt-4">
  <div class="col-12" style="max-width: 1100px;">
    <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="border-radius: 6px 0 0 0;">Namn</th>
          <th scope="col">E-post</th>
          <!---->
          <th scope="col">Roll</th>
          <th scope="col">Behörighet</th>
          <th scope="col" style="border-radius: 0 6px 0 0;"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let userProject of userProjects; let i = index">
          <tr>
            <td>{{userProject.user.firstname}} {{userProject.user.lastname}}</td>
            <td>{{userProject.user.email}}</td>
            <td>
              <p *ngIf="!userProject.isEditable">{{userProject.role}}</p>
              <input *ngIf="userProject.isEditable" [(ngModel)]="userProject.role" value="{{userProject.role}}">

              <!--<div class="dropdown w-100">
              <button class="btn thead-light white-text p-0 m-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projektledare
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Projektdeltagare</a>
                <button class="dropdown-item">+ Lägg till ny roll</button>
              </div>
            </div>-->
            </td>
            <td>
              <p *ngIf="!userProject.isEditable">{{userProject.rights}}</p>
              <select *ngIf="userProject.isEditable" [(ngModel)]="userProject.rights" class="bootstrap-select" aria-labelledby="dropdownMenuButton">
                <option value="R">R</option>
                <option value="RW">RW</option>

              </select>
              <!--<div class="dropdown w-100">
              <button class="btn thead-light white-text p-0 m-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Läsa och redigera
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Endast läsa</a>
              </div>
            </div>-->
            </td>
            <td>
              <button class="btn btn-danger btn-sm float-right" [hidden]="!hasRights || userProject.isEditable">Ta bort</button>
              <button type="button" class="btn btn-primary btn-sm float-right mr-2" [hidden]="!hasRights || userProject.isEditable" (click)="userProject.isEditable = true">Ändra</button>
              <input type="submit" class="btn btn-primary btn-sm float-right mr-2" [hidden]="!userProject.isEditable" value="Spara" (click)="updateProjectMember(userProject)">
              <button type="button" class="btn btn-secondary btn-sm float-right mr-2" [hidden]="!userProject.isEditable" (click)="userProject.isEditable = false">Avbryt</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr />
    <button class="btn btn-primary btn-sm float-right mr-3" data-toggle="modal" data-target="#inviteMembersModal">Bjud in fler </button>
    <alert></alert>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="inviteMembersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bjud in fler projektmedlemmar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate class="form-group mt-2">
            <!--<label for="projectTitle"><b>Projektmedlemmar</b></label>-->
            <div *ngFor="let member of emailList">
              <div class="card mb-1 col-6" style="background-color: #F9F9F9; border: 1px solid lightgray">
                <span class="d-inline-block" style="white-space:nowrap">
                  <span class="card-text">
                    {{member}}
                  </span>
                  <span class="d-inline-block float-right" style="white-space:nowrap">

                    <i class="fa fa-eye mr-2" style="font-size:10px; color: gray"></i>
                    <span class="btn p-0 m-0" data-effect="fadeOut" (click)="removeMember(member)">×</span>
                  </span>
                </span>
              </div>
            </div>
            <div class="row" style="margin:16px 0 16px 0">
              <input type="email" class="form-control col" id="memberEmail" placeholder="Ange emailadress" aria-describedby="inviteMembersHelp" maxlength="100">
              <div class="form-group m-0">
                <!--<label for="sel1">Behörighet:</label>-->
                <select class="form-control">
                  <option>Kan endast läsa</option>
                  <option>Kan läsa och redigera</option>
                </select>
              </div>
            </div>
            <button class="btn btn-secondary" (click)="addMember('test@mail.com')">Lägg till</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" [style.display]="isFirstStepModal ? 'none' : 'block'">Bjud in till projekt</button>
        </div>
      </div>
    </div>
  </div>

</div>
