a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
 
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
/*.nav-bk7 {
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
 
}*/

navbar {
  background: #336699;
}
header {
  margin-bottom: 50px !important;
}
.nav-text-align{
  
}
.nav-body_width {
  width: 100%; 
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.nav_title{
  justify-content:center;

}
.nav_menu {
  padding-top:15px;
  padding-right:2rem;
  text-align:left;
  padding-bottom: 0px;
}

.nav-item, .navbar-brand {
  border-bottom: 3px solid #336699;
}

.nav-item.active {
  border-bottom: 3px solid #8ed694;
}

.navbar-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

.nav-link {
    color: white;
}

.nav-item:focus {
  margin-bottom: -3px;
  border-bottom: 3px #108DE7 solid;
  font-weight: bold;
}

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #336699;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}


/*
.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
    */
