a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
 
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-bk7 {
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
 
}

.nav-text-align{
  
}
.nav-body_width {
  width: 100%;
  height:80px;
 
}
.nav_title{
  justify-content:center;

}
.nav_menu {
  padding-top:15px;
  padding-right:2rem;
  text-align:left;
  padding-bottom: 0px;
}

.navbar-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
