<header [style.display]="isFullscreen() ? 'none' : 'block'">
  <div class="alert alert-info alert-dismissible d-none d-xs-block d-sm-block d-lg-none" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
    <p>Funktionaliteten är begränsad på mindre skärmar.</p>
  </div>
  <nav class="navbar navbar-expand-lg im-background-color fixed-top scrolling-navbar top-nav-collapse" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Medtech Innovation Model</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
        <!--<img src="\lib\images\img3.jpg" height="30" />MT4North-InnovationsModell-->
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
        <ul class="nav navbar-nav smooth-scroll">
          <li class="nav-item" [ngClass]="{'active': (selectedNavItem == 'Home') }" (click)="makeActive('Home')"><a href="#home" class="nav-link">Hem</a></li>
          <li class="nav-item" [ngClass]="{'active': (selectedNavItem == 'About') }" (click)="makeActive('About')"><a href="#about" class="nav-link">Om</a></li>
          <!--<li class="nav-item"><a href="#" class="nav-link">Samarbetspartners</a></li>-->
          <li class="nav-item" [ngClass]="{'active': (selectedNavItem == 'Contact') }" (click)="makeActive('Contact')"><a href="#contact" class="nav-link">Kontakt</a></li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="">
            <ul class="navbar navbar-nav p-0">
              <li *ngIf="currentUser" class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'active': (selectedNavItem == 'MyPages') }" (click)="makeActive('MyPages')">
                <a class="nav-link" [routerLink]="['/my-pages/start']"><span class="glyphicon glyphicon-log-in"></span>Mina sidor</a>
              </li>
              <li *ngIf="currentUser" class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'active': (selectedNavItem == 'LogOut') }" (click)="makeActive('LogOut')">
                <a class="nav-link" [routerLink]="['/']"(click)="logout()"><span class="glyphicon glyphicon-log-in"></span>Logga ut</a>
              </li>
              <li *ngIf="!currentUser" class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'active': (selectedNavItem == 'LogIn') }" (click)="makeActive('LogIn')">
                <a class="nav-link" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span>Logga in</a>
              </li>
              <li *ngIf="!currentUser" class="nav-item" [routerLinkActive]="['link-active']" [ngClass]="{'active': (selectedNavItem == 'Register') }" (click)="makeActive('Register')">
                <a class="btn btn-sm im-btn-primary" [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span>Registrera</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
