<div class="container p-5 mb-2 mt-5t">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h4 class="card-header">Registrera</h4>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">Förnamn</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Förnamn är obligatoriskt</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Efternamn</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Efternamn är obligatoriskt</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Användarnamn</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Användarnamn är obligatoriskt</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">E-postadress</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">E-postadress är obligatoriskt</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Lösenord</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Lösenord är obligatoriskt</div>
              <div *ngIf="f.password.errors.minlength">Lösenordet måste innehålla minst 6 tecken</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn im-btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Registrera
            </button>
            <a routerLink="../login" class="btn btn-link">Avbryt</a>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
    <!--<div class="container p-5 mb-2 mt-5t">

      <div class="container mt-5" style="max-width: 550px;">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">
              Skapa ett konto
            </h4>
            <form #myForm="ngForm" (ngSubmit)="submit(myForm)">-->
    <!--
    <div class="form-group">
      <label>Namn</label>
      <input type="text"
             class="form-control"
             name="name"
             [(ngModel)]="model.name"
             #name="ngModel"
             [ngClass]="{ 'is-invalid': myForm.submitted && name.invalid }"
             required>
      -->
    <!-- Error -->
    <!--
            <div class="text-danger mt-1" *ngIf="myForm.submitted && name.invalid">
              <p *ngIf="name.errors.required">Name value is required.</p>
            </div>
    </div>
    -->
    <!--<div class="form-group">
      <label>E-post</label>
      <input type="email"
             class="form-control"
             name="email"
             [(ngModel)]="model.email"
             #email="ngModel"
             [ngClass]="{ 'is-invalid': myForm.submitted && email.invalid }"
             required>-->
    <!-- Error -->
    <!--<div *ngIf="myForm.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">E-post är obligatoriskt.</div>
        <div *ngIf="email.errors.email">Skriv in en giltig e-postadress.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Lösenord</label>
      <input type="password"
             class="form-control"
             name="password"
             [(ngModel)]="model.password"
             #password="ngModel"
             [ngClass]="{ 'is-invalid': myForm.submitted && password.invalid }"
             minlength="6"
             required>-->
    <!-- Error -->
    <!--<div *ngIf="myForm.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Ange ett starkt lösenord.</div>
        <div *ngIf="password.errors.minlength">Minst 6 tecken krävs.</div>
      </div>
    </div>-->
    <!--
    <div class="form-group">
      <label>Subjects</label>
      <select class="form-control" name="subjects" [(ngModel)]="subjects">
        <option value="">Choose value</option>
        <option *ngFor="let subject of Subjects" [value]="subject">
          {{subject}}
        </option>
      </select>
    </div>

                -->
    <!--<div class="form-group">
                <button class="btn btn-primary btn-block">Registrera</button>
              </div>
            </form>
          </div>
        </div>
        <p class="text-secondary text-center mt-2">Har du redan ett konto? <a class="nav-link-default" [routerLink]="['/login']">Logga in</a></p>
    </div>
      </div>-->




