<!-- Vertical navbar -->
<div class="container-fluid" [class.mt-5]="isFullscreen() === false" id="content">
  <div class="vertical-nav bg-white mt-0" id="sidebar" [style.display]="isFullscreen() ? 'none' : 'block'" [class.active]="isFullscreen() === true">
    <div class="py-4 px-3 mb-4 bg-light mt-0">
      <div class="media d-flex align-items-center">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">Jason Doe</h4>
          <p class="font-weight-light text-muted mb-0">Organisation</p>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <!--
      <div class="row">
        <div class="col-lg">
          <p class="text-gray font-weight-bold text-uppercase float-left">PROJECTS</p>
          <p class="float-right"><span class="fa fa-plus-circle"></span></p>
        </div>
      </div>
      -->
        <div class="accordion mb-2" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <span><i class="fa fa-user"></i> Konto</span>
                  <i class="fa fa-chevron-down toggle"></i>
                </a>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" [routerLink]="['./start']"><i class="fa fa-pencil"></i> Redigera</li>
                  <li class="list-group-item"><a href="#"><i class="fa fa-key"></i> Ändra lösenord</a></li>
                  <li class="list-group-item"><a href="#" class="text-danger"><i class="fa fa-trash"></i> Ta bort konto</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span><i class="fa fa-briefcase"></i> Projekt</span>
                  <i class="fa fa-chevron-down toggle rotate"></i>
                </a>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  <li class="btn text-left list-group-item" [routerLink]="['./projects/activity-status']"><a>Projekt 1</a> <!--<span class="badge badge-pill badge-primary">20</span>--></li>
                  <li class="btn text-left list-group-item"><a>Projekt 2</a></li>
                </ul>
                <button class="btn w-100 text-left" id="addBtn" data-toggle="modal" data-target="#addProjectModal" (click)="resetModal()"><span><i class="fa fa-plus"></i> Lägg till</span></button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <span><i class="fa fa-cog"></i> Inställningar</span>
                  <i class="fa fa-chevron-down toggle"></i>
                </a>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"><a href="#"><i class="fa fa-bell"></i> Ställ in notifieringar</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0"><a href="#"><i class="fa fa-power-off"></i> Logga ut</a></h2>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- End vertical navbar -->
  <!-- Page content holder -->
  <div class="page-content" [class.pt-5]="isFullscreen() === false" id="content" [class.active]="isFullscreen() === true">

    <!-- Toggle button -->
    <div class="row">
      <div class="col-" [class.pl-3]="isFullscreen() === false" [style.display]="isFullscreen() ? 'none' : 'block'">
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm mb-4"><i class="fa fa-bars"></i></button>
      </div>
      <!-- Demo content -->
      <div class="col pr-5">
        <router-outlet></router-outlet>
        <!-- Modal -->
        <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Lägg till nytt projekt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form ngNativeValidate class="form-group mt-2" [style.display]="isFirstStepModal ? 'block' : 'none'" id="newProjectForm1">
                  <label for="projectTitle"><b>Projektets titel</b></label>
                  <input class="form-control" id="projectTitle" aria-describedby="projectTitleHelp" maxlength="50" required>
                  <!--<small id="projectTitleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

                  <p class="p-0 m-0"><label for="projectDescriptionText" class="col-form-label"><b>Kort projektbeskrivning</b><small class="ml-2">Valfritt</small></label></p>
                  <textarea class="form-control" id="projectDescriptionText" maxlength="250"></textarea>
                </form>

                <form ngNativeValidate class="form-group mt-2" [style.display]="isFirstStepModal ? 'none' : 'block'" id="newProjectForm2">
                  <label for="projectTitle"><b>Projektmedlemmar</b><small class="ml-2">Valfritt</small></label>
                  <div *ngFor="let member of emailList">
                    <div class="card mb-1 col-6" style="background-color: #F9F9F9; border: 1px solid lightgray">
                      <span class="d-inline-block" style="white-space:nowrap">
                        <span class="card-text">
                          {{member}}
                        </span>
                        <span class="d-inline-block float-right" style="white-space:nowrap">

                          <i class="fa fa-eye mr-2" style="font-size:10px; color: gray"></i>
                          <span class="btn p-0 m-0" data-effect="fadeOut" (click)="removeMember(member)">×</span>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="row" style="margin:16px 0 16px 0">
                    <input type="email" class="form-control col" id="memberEmail" placeholder="Ange emailadress" aria-describedby="inviteMembersHelp" maxlength="100">
                    <div class="form-group m-0">
                      <!--<label for="sel1">Behörighet:</label>-->
                      <select class="form-control" id="sel1">
                        <option>Kan endast läsa</option>
                        <option>Kan läsa och redigera</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-secondary" (click)="addMember('test@mail.com')">Lägg till</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="changeToInviteMembers()" [style.display]="isFirstStepModal ? 'block' : 'none'">Fortsätt</button>
                <button type="button" class="btn" [style.display]="isFirstStepModal ? 'none' : 'block'" data-dismiss="modal"><u>Jag gör det här senare.</u></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [style.display]="isFirstStepModal ? 'none' : 'block'">Bjud in till projekt</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<app-my-pages-start></app-my-pages-start>-->

  </div>
</div>
