<h2 class="display-4 text-black-50">Redigera Tema.</h2>
<br />
<div *ngIf="isDataLoaded">
  <div class="row mt-4">
    <div class="col-12" style="max-width: 1100px;">
      <!---->
      <form [formGroup]="editForm" (ngSubmit)="editTheme()">
        <div class="">
          <div class="form-group">
            <label for="formcontrolid">Id</label>
            <input id="formcontrolid" type="number" formControlName="id" class="form-control rounded" [value]="theme.themeid" />
          </div>
          <div class="form-group">
            <label for="formcontrolname">Namn</label>
            <input id="formcontrolname" type="text" formControlName="name" class="form-control rounded" [value]="theme.name" />
          </div>
          <div class="form-group">
            <label for="formcontroldescription">Beskrivning</label>
            <input id="formcontroldescription" type="text" formControlName="description" class="form-control rounded" [value]="theme.description" />
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary mr-1" (click)="back()">Avbryt</button>
            <button type="submit" class="btn btn-primary" [disabled]="false">Spara</button>
          </div>
        </div>
      </form>
      <!---->
    </div>
  </div>
</div>
<alert></alert>
