/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/*a {
  color: #0366d6;
}*/
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body:not(.modal-open) {
  padding-right: 0px !important;
}
.navbar, .navbar-toggler {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

im-background-color {
  background: #336699 !important;
}

.im-text-color-primary {
  color: #336699;
}

.im-link-primary {
   color: #8ed694;
}

.im-link-primary {
  color: #8ed694;
}

.im-link-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  filter: brightness(0.6);
}

.im-modal-small {
    max-height: 250px;
}

.im-link-secondary {
  color: white;
}

.im-btn-primary {
  background: #8ed694;
}

  .im-btn-primary:hover {
    background: #9BE3A1;
  }

.im-btn-secondary {
  background: #336699;
}

  .im-btn-secondary:hover {
    background: #4e7ead;
  }

code {
  color: #e01a76;
}

button:active {
  outline: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-bk7-body {
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

a.nav-link {
    cursor: pointer;
}

a.nav-link {
  color: gray;
}

a.nav-link.active {
  color: black;
}

a.nav-link-default {
  color: #0000EE;
}

  a.nav-link-default.active {
    color: #0000EE;
  }


.alert {
  margin-bottom: 0;
  text-align: left;
  padding: 8px;
/*  color: #fff;
  background: #1c1c1c;*/
  border-color: #000;
  vertical-align: middle;
}

/*.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: -2px;
  right: -21px;
  color: inherit;
}


.alert p {
  font-size: 16px;
}

.alert > p, .alert > ul {
  margin-bottom: 0;
}

.alert a {
  color: #00aeef;
  font-size: 16px;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  padding: 8px;*/
  /*  color: #fff;
  background: #1c1c1c;
  border-color: #000;*/
/*}

.alert-dismissable .close, .alert-dismissible .close {
  right: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: -2px;
  right: -21px;
  color: inherit;
}*/

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-right: 20px;
  vertical-align: middle;
}
/*
body {
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,.9);
}*/
.loading h4 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.loading ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

  .loading ul li {
    list-style: none;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    animation: grow 1.6s ease-in-out infinite;
  }

@keyframes grow {
  0%, 40%, 100% {
    transform: scale(0.2);
  }

  20% {
    transform: scale(1);
  }
}

.loading ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: #336699; /*#ffff00;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(2) {
  animation-delay: -1.2s;
  background: #336699; /*#76ff03;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(3) {
  animation-delay: -1s;
  background: #336699; /*#f06292;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(4) {
  animation-delay: -0.8s;
  background: #336699; /*#4fc3f7;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(5) {
  animation-delay: -0.6s;
  background: #336699; /*#ba68c8;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(6) {
  animation-delay: -0.4s;
  background: #336699; /*#f57c00;*/
  box-shadow: 0 0 50px #336699;
}

.loading ul li:nth-child(7) {
  animation-delay: -0.2s;
  background: #336699; /*#673ab7;*/
  box-shadow: 0 0 50px #336699;
}



/*
h4 {
  font-size: 1em;
}
*/

