/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-bk7-body {
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
}

*:focus {
  outline: 0;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

a.nav-link {
    cursor: pointer;
}

a.nav-link {
  color: gray;
}

a.nav-link.active {
  color: black;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  padding: 8px;
  color: #fff;
  background: #1c1c1c;
  border-color: #000;
  vertical-align: middle;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: -2px;
  right: -21px;
  color: inherit;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-right: 20px;
  vertical-align: middle;
}

.alert p {
  font-size: 16px;
}

.alert > p, .alert > ul {
  margin-bottom: 0;
}

.alert a {
  color: #00aeef;
  font-size: 16px;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  padding: 8px;
  color: #fff;
  background: #1c1c1c;
  border-color: #000;
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 12px;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: -2px;
  right: -21px;
  color: inherit;
}

/*
h4 {
  font-size: 1em;
}
*/

